{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block content %}
    <div class="container order-create-content">
        <div class="breadcrumbs">
            {% if breadcrumbs|length>0 %}
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb-last"><span itemprop="tittle">{{ breadcrumb.title }}</span></span>
                    {% else %}
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" class="breadcrumbs-item" href="{{ breadcrumb.url }}"><span itemprop="tittle">{{ breadcrumb.title }}</span></a></span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="order-create-title-wrapper">
            <h1>
                {{ title }}
            </h1>
            <div class="clearfix"></div>
            <div class="order-message-box">
                Ваш запрос отправлен, мы свяжемся с Вами в ближайшее время..
            </div>
        </div>
    </div>
{% endblock content %}
{% block seo %}
    <title>{{ "Контакты - запрос успешно отправлен" }}</title>
{% endblock seo %}