{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block topSlider %}
    <div id="main-top-slider">
        {% if slides|length %}
            <ul class="show-preload-li">
                {% for slide in slides %}
                    <li>
                        <a href="{{ (slide.link)?slide.link:"javascript:void(0)" }}" class="main-slider-wrapper">
                            <div class="slider-text-wrapper">
                                {{ slide.text|raw }}
                            </div>
                            <div class="slider-image-wrapper">
                                <div class="slider-image-inner-wrapper">
                                    <img alt="Ювелирный интернет-магазин серебряных украшений Ювелир Лайф" src="{{ (slide.image)?slide.image|json_decode.big:asset('bundles/sitefrontend/images/main/slider-picture.jpg') }}"/>
                                </div>
                                <span class="top-slider-discount">
                                    {{ slide.discount }}
                                </span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div id="main-top-slider-pager">
                {% for slide in slides %}
                    <a data-slide-index="{{ loop.index0 }}" href=""></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock topSlider %}
{% block content %}
    <div class="index-novels-block">
        <div class="container">
            {% include "@SiteFrontend/Parts/_index-product-block.html.twig" with {
                'title': "Новинки",
                'products':novels,
                'type': 'novels'
            } %}
        </div>
    </div>
    <div class="index-popular-block">
        <div class="container">
            {% include "@SiteFrontend/Parts/_index-product-block.html.twig" with {
                'title': "Популярные",
                'products':hits,
                'type': 'hits'
            } %}
        </div>
    </div>
    <div class="index-news-block">
        <div class="container">
            {% include "@SiteFrontend/Parts/_news_section.html.twig" with {
                'news':news
            } %}
        </div>
    </div>
    <div class="index-info-block-wrapper">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding info-block-logo-wrapper">
                <div class="info-block-logo"></div>
            </div>
            <div class="info-block-text-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                {#<h1>о магазине</h1>#}
                <h1>{{ seo.h1 }}</h1>
                <div class="info-block-text-inner-wrapper">
                    {{ staticContent.about_shop.text|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block seo %}
    <title>{{ seo.title }}</title>
    {% if seo.description %}
        <meta name="description" content="{{ seo.description }}">
    {% endif %}
    {% if seo.keywords %}
        <meta name="keywords" content="{{ seo.keywords }}">
    {% endif %}
{% endblock seo %}