{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block content %}
    <div class="container static-content-page">
        <div class="breadcrumbs">
            {% if breadcrumbs|length>0 %}
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <span class="breadcrumb-last">{{ breadcrumb.title }}</span>
                    {% else %}
                        <a class="breadcrumbs-item" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="static-title-wrapper">
            <h1>
                {{ seo.title }}
            </h1>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content-text">
                {{ staticContent.text.text|raw }}
            </div>
        </div>
    </div>
    <div class="container comments-wrapper">
        {% include "SiteFrontendBundle:Comment:_comment.html.twig" with {
        'form':form,
        'comments':comments,
        'text':'Спасибо за Ваш отзыв'
        } %}
    </div>
{% endblock content %}
{% block seo %}
    <title>{{ seo.title }}</title>
    {% if seo.description %}
        <meta name="description" content="{{ seo.description }}">
    {% endif %}
    {% if seo.keywords %}
        <meta name="keywords" content="{{ seo.keywords }}">
    {% endif %}
{% endblock seo %}
{% block javascripts %}
    {{ parent() }}
    {% include "SiteFrontendBundle:Comment:_comment_js.html.twig" %}
{% endblock javascripts %}