<form id="product-show-form" enctype="multipart/form-data" method="post" action="{{ form.vars.action }}">
    {% if form.insertionColor is defined %}
        <div class="product-show-form-item-wrapper">
            <div>{{ form_errors(form.insertionColor ) }}</div>
            <div class="show-form-label">{{ form_label(form.insertionColor ) }}</div>
            <div class="show-form-item">{{ form_widget(form.insertionColor ) }}</div>
        </div>
    {% endif %}
    {% if form.ringSize is defined %}
        <div class="product-show-form-item-wrapper">
            <div>{{ form_errors(form.ringSize ) }}</div>
            <div class="show-form-label">{{ form_label(form.ringSize ) }}</div>
            <div class="show-form-item">{{ form_widget(form.ringSize ) }}</div>
        </div>
    {% endif %}
    {% if form.chainSize is defined %}
        <div class="product-show-form-item-wrapper">
            <div>{{ form_errors(form.chainSize ) }}</div>
            <div class="show-form-label">{{ form_label(form.chainSize ) }}</div>
            <div class="show-form-item">{{ form_widget(form.chainSize ) }}</div>
        </div>
    {% endif %}
    <div class="display-none">
        {{ form_rest(form) }}
    </div>
</form>