{% extends 'form_div_layout.html.twig' %}
{% block site_frontend_custom_expanded_select_widget %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="squared-one">{{- form_widget(child) -}}{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</div>
        {% endfor -%}
    </div>
{% endblock site_frontend_custom_expanded_select_widget %}
{% block site_frontend_custom_expanded_select_radio_widget %}
        {%- for child in form %}
            <div class="rounded-one">{{- form_widget(child) -}}{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}</div>
        {% endfor -%}
{% endblock site_frontend_custom_expanded_select_radio_widget %}
{% block site_frontend_range_widget %}
    {% spaceless %}
    {{ form_widget(form) }}
        <div class="product-list-filters-range-wrapper">
            {% set wrapperSelector = "filter-values-wrapper_"~name %}
            <div class="slider-range-size">
                <input type="text" class="range-min_{{ name }}" value="{{ min }}">
                <span>-</span>
                <input type="text" class="range-max_{{ name }}" value="{{ max }}">
            </div>
            {% set divSelector = "filter-slider-range_"~name %}
            <div class="{{ divSelector }}"></div>
        </div>
        <script>
            var delayT = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();
            if(!$("input.form-range-min-input").val()){
                $("input.form-range-min-input").val({{ min }});
                var $valMin = {{ min }};
            }
            else{
                var $valMin = $("input.form-range-min-input").val();
            }
            if(!$("input.form-range-max-input").val()){
                $("input.form-range-max-input").val({{ max }});
                var $valMax = {{ max }};
            }
            else{
                var $valMax = $("input.form-range-max-input").val();
            }
            $( "{{ "."~divSelector}}" ).slider({
                range: true,
                min: {{ min }},
                max: {{ max }},
                values: [ $valMin, $valMax ],
                slide: function( event, ui ) {
                    $("input.form-range-min-input").val(ui.values[ 0 ]);
                    $("input.form-range-max-input").val(ui.values[ 1 ]);
                    $(".range-min_{{ name }}").val(ui.values[ 0 ]);
                    $(".range-max_{{ name }}").val(ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    $("input.form-range-min-input").val(ui.values[ 0 ]);
                    $("input.form-range-max-input").val(ui.values[ 1 ]);
                    $(".range-min_{{ name }}").val(ui.values[ 0 ]);
                    $(".range-max_{{ name }}").val(ui.values[ 1 ]);
                }
            });
            $(".range-min_{{ name }}").val($("input.form-range-min-input").val());
            $(".range-max_{{ name }}").val($("input.form-range-max-input").val());
            $(".range-min_{{ name }}").keyup(function(){
                var $obj = $(this);
                delayT(function(){
                    var minItem = ($obj.val())?$obj.val():0;
                    minItem = parseInt(minItem);
                    var maxItem = parseInt($("input.form-range-max-input").val());
                    if(minItem>maxItem){
                        minItem = maxItem-1;
                    }
                    $obj.val(minItem);
                    $("input.form-range-min-input").val(minItem);
                    $("{{ "."~divSelector}}").slider('values',0,minItem);
                }, 1000 );
            });
            $(".range-max_{{ name }}").keyup(function(){
                var $obj = $(this);
                delayT(function(){
                    var maxItem = ($obj.val())?$obj.val():0;
                    maxItem = parseInt(maxItem);
                    var minItem = parseInt($("input.form-range-min-input").val());
                    if(minItem>maxItem){
                        maxItem = minItem+1;
                    }
                    $obj.val(maxItem);
                    $("input.form-range-max-input").val(maxItem);
                    $("{{ "."~divSelector}}").slider('values',1,maxItem);
                }, 1000 );
            });
        </script>
    {% endspaceless %}
{% endblock %}