<form id="set-show-form" enctype="multipart/form-data" method="post" action="{{ form.vars.action }}">
    {% if form.insertionColors is defined %}
        <div class="product-show-form-item-wrapper">
            <div>{{ form_errors(form.insertionColors ) }}</div>
            <div class="show-form-label">{{ form_label(form.insertionColors ) }}</div>
            <div class="show-form-item">{{ form_widget(form.insertionColors ) }}</div>
        </div>
    {% endif %}
    {% for component in form.orderHasSetComponents %}
        {% set product = component.vars.value.product %}
        <div class="set-show-form-items-title-wrapper">
            <div class="set-show-form-item-title-code">
                код товара: {{ product.cod }}
            </div>
            <div class="global-cart-checkbox-wrapper"  data-price={{ (product.sharePrice)?product.sharePrice:product.price }}>
                <div class="squared-one set-show-checkbox">
                    {{ form_widget(component.presence) }}
                    {{ form_label(component.presence) }}
                </div>
            </div>
            <div class="set-show-form-items-title">
                {{ product.title }}
            </div>
        </div>
        <div class="set-show-form-item-price">
            {% if product.sharePrice %}
                <span class="index-product-old-price">
                    {{ product.price }} <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">
                    {{ product.sharePrice }} <span class="smaller">грн</span>
                </span>
            {% else %}
                <span class="index-product-regular-price">
                    {{ product.price }} <span class="smaller">грн</span>
                </span>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="product-show-form-block clearfix">
        {% if product.insertionColors|length %}
            <div class="product-show-form-item-wrapper">
                <div class="show-form-label">
                    <label>Цвет вставки:</label>
                </div>
                <div class="show-form-item">
                    {{ form_widget(component.insertionColor) }}
                </div>
            </div>
        {% endif %}
        {% if product.ringSizes|length %}
            <div class="product-show-form-item-wrapper">
                <div class="show-form-label">
                    <label>Размер кольца:</label>
                </div>
                <div class="show-form-item">
                    {{ form_widget(component.ringSize) }}
                </div>
            </div>
        {% endif %}
        {% if product.chainSizes|length %}
            <div class="product-show-form-item-wrapper">
                <div class="show-form-label">
                    <label>Длинна цепи:</label>
                </div>
                <div class="show-form-item">
                    {{ form_widget(component.chainSize) }}
                </div>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    <div class="display-none">
        {{ form_rest(form) }}
    </div>
</form>