<div class="container no-padding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="footer-logo-section-wrapper">
            <div class="footer-logo"></div>
            <div class="footer-logo-subscribe">
                ищите нас в социальных сетях
            </div>
            <div class="footer-logo-wrapper">
                <div class="footer-vkontakte-item social-item">
                    <a href="https://vk.com/serebro_9_2_5" target="_blank"></a>
                </div>
                <div class="footer-fb-item social-item">
                    <a href="https://www.facebook.com/uvelife/" target="_blank"></a>
                </div>
                <div class="footer-inst-item social-item">
                    <a href="https://www.instagram.com/Uvelife_serebro925/" target="_blank"></a>
                </div>
                <div class="footer-viber-item social-item">
                    <a href="callto:+380674127353"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-no-display no-padding">
            <div class="boxed-ring-wrapper">
                <img alt="Ювелирный интернет-магазин серебряных украшений Ювелир Лайф" src="{{ asset('bundles/sitefrontend/images/main/boxed-ring.png') }}">
            </div>
            <div class="copyright">
                © copyright 2017</br>
                Uvelife
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-no-display no-padding">
            <h3>
                Каталог
            </h3>
            <div class="footer-link footer-catalog">
                <a href="{{ path("site_frontend_set_list") }}">
                    Наборы
                </a>
                {% for category in categories %}
                    <a href="{{ path('site_frontend_category',{'slug':category.slug}) }}">
                    {{ category.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-no-display no-padding">
            <h3>
                клиентам
            </h3>
            <div class="footer-link">
                <a href="{{ path('site_frontend_about_company') }}">
                    О нас
                </a>
            </div>
            <div class="footer-link">
                <a href="{{ path('site_frontend_about_payment') }}">
                    Оплата
                </a>
            </div>
            <div class="footer-link">
                <a href="{{ path('site_frontend_news_list') }}">
                    НОВОСТи
                </a>
            </div>
            <div class="footer-link">
                <a href="{{ path('site_frontend_static_reviews') }}">
                    ОТЗЫВЫ
                </a>
            </div>
            <div class="footer-link">
                <a href="{{ path('site_frontend_about_delivery') }}">
                Доставка
                </a>
            </div>
            <div class="footer-link">
                <a href="{{ path('site_frontend_contacts') }}">
                    Контакты
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding">
            <h3 class="footer-contact-info">
                Контактная информация
            </h3>
            <div class="footer-phones-wrapper">
                <span class="footer-phone-link">
                    {{ staticContent.phones.text|raw }}
                </span>
                <span class="footer-callback-link">
                    <a>Перезвонить вам?</a>
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 no-padding">
            <h3 class="footer-bold-title">
                ПН-ПТ  10:00-19:00<br>
                СБ 10:00 - 17:00<br>
                ВС ВЫХОДНОЙ
            </h3>
            <div class="footer-email">{{ staticContent.email.text|raw }}</div>
            <div class="footer-skype">{{ staticContent.skype.text|raw }}</div>
        </div>
    </div>
</div>