<div class="container no-padding">
    <div class="navbar-head-top-section-wrapper">
        <div class="navbar-head-logo">
            <a href="{{ path('site_frontend_homepage') }}">
                <img alt="Ювелирный интернет-магазин серебряных украшений Ювелир Лайф" src="{{ asset("bundles/sitefrontend/images/main/logo.svg") }}"/>
            </a>
        </div>
        <div class="fixed-menu-wrapper">
            <div class="fixed-menu-inner-wrapper">
                <div class="navbar-head-search-section">
                    <div id="navbar-contacts">
                        <button type="button" class="head-mobile-button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-contacts-links-wrapper">
                            <a class="navbar-contacts-item" href="{{ path('site_frontend_about_company') }}">
                                о нас
                            </a>
                            <a class="navbar-contacts-item" href="{{ path('site_frontend_news_list') }}">
                                новости
                            </a>
                            <a class="navbar-contacts-item" href="{{ path('site_frontend_about_delivery') }}">
                                доставка
                            </a>
                            <a class="navbar-contacts-item" href="{{ path("site_frontend_about_payment") }}">
                                оплата
                            </a>
                            <a href="{{ url('site_frontend_static_reviews') }}" class="navbar-contacts-item">
                                отзывы
                            </a>
                            <a class="navbar-contacts-item" href="{{ path('site_frontend_contacts') }}">
                                контакты
                            </a>
                        </div>
                        <div class="navbar-contacts-vk-widget">
                            <a class="head-selected-items selected-list" href="{{ url('site_frontend_selected_list') }}">
                                избранное
                                <span data-type="selected" class="count-holder">{{ selected }}</span>
                            </a>
                            <a class="head-selected-items comparing-list" href="{{ url('site_frontend_comparing_show') }}">
                                сравнение
                                <span data-type="comparing" class="count-holder">{{ comparing }}</span>
                            </a>
                        </div>
                        <div class="search-input-wrapper">
                            <div class="custom-search-input search-input-inner">
                                <form id="search-form" method="post" action="{{ searchForm.vars.action }}">
                                    <div class="input-group col-md-12">
                                        {{ form_widget(searchForm.text) }}
                                            <span class="input-group-btn">
                                                <button class="btn btn-lg" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                    </div>
                                    <div class="display-none">
                                        {{ form_rest(searchForm) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-head-basket-section">
                    <div class="nav-contact-phones-list-wrapper">
                        <div class="nav-contact-phones-inner-wrapper">
                            <div class="nav-contact-phone main-blue">
                                {{ staticContent.phones.text|raw }}
                            </div>
                        </div>
                        <div class="nav-callback-link">
                            <a>Перезвонить мне!</a>
                        </div>
                    </div>
                    <div class="nav-basket-wrapper">
                        <span data-url="{{ url("site_frontend_order_get_ajax_cart") }}" class="basket-image"></span>
                        <span data-url="{{ url("site_frontend_order_get_items_number") }}" class="basket-number-wrapper">
                            {{ itemsNumber }}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="fixed-content-wrapper">
        <div class="container fixed-content-inner-wrapper no-padding">
            <div class="scroll-menu-wrapper">
                <button type="button" class="head-mobile-button scroll-mobile-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="fixed-scroll-logo" href="{{ path('site_frontend_homepage') }}">
                </a>
            </div>
            <div class="navbar-head-bottom-section-wrapper">
                <a class="head-bottom-navbar-item {{ (isSet is defined)?'active':'' }}" href="{{ path('site_frontend_set_list') }}">наборы</a>
                {% for cat in categories %}
                    {% if cat.subCategories|length>1 %}
                        <div class="head-bottom-navbar-item custom-dropdown-item {{ (cat.slug == category.slug)?'active':''}}">
                            <a href="{{ path('site_frontend_category',{'slug':cat.slug}) }}" class="custom-dropdown-toggle" >{{ cat.title }}</a>
                            <ul class="custom-dropdown-menu">
                                {% for subCategory in cat.subCategories  %}
                                    <li><a href="{{ path('site_frontend_sub_category',{
                                            'catSlug':cat.slug,
                                            'subSlug':subCategory.slug
                                        }) }}">{{ subCategory.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <a class="head-bottom-navbar-item {{ (cat.slug == category.slug)?'active':''}}" href="{{ path('site_frontend_category',{'slug':cat.slug}) }}">{{ cat.title }}</a>
                    {% endif %}
                {% endfor %}
                {#<a class="head-bottom-navbar-item" href="#">цепи и браслеты</a>#}
                {#<span class="head-bottom-navbar-item custom-dropdown-item">#}
                        {#<a href="#" class="custom-dropdown-toggle" >цепи и браслеты</a>#}
                        {#<ul class="custom-dropdown-menu">#}
                            {#<li><a href="">подвес</a></li>#}
                            {#<li><a href="">церковная  тематика</a></li>#}
                            {#<li><a href="">зодиак</a></li>#}
                            {#<li><a href="">обереги</a></li>#}
                        {#</ul>#}
                {#</span>#}
            </div>
            <div class="scroll-basket-wrapper">
                <div class="nav-basket-wrapper">
                    <span data-url="{{ url("site_frontend_order_get_ajax_cart") }}" class="basket-image"></span>
                    <span class="basket-number-wrapper">
                        {{ itemsNumber }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {#<div class="mobile-menu-content-wrapper">#}
        {#<div class="mobile-menu-content-button">#}
            {#<button type="button" class="head-mobile-button">#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
        {#</div>#}
        {#<ul class="fixed-mobile-nav">#}
            {#<li><a href="{{ path("site_frontend_about_company") }}">о нас</a></li>#}
            {#<li><a href="{{ path("site_frontend_news_list") }}">новости</a></li>#}
            {#<li><a href="{{ path("site_frontend_about_delivery") }}">доставка</a></li>#}
            {#<li><a href="{{ path("site_frontend_about_payment") }}">оплата</a></li>#}
            {#<li><a href="#">отзывы</a></li>#}
            {#<li><a href="{{ path("site_frontend_contacts") }}">контакты</a></li>#}
        {#</ul>#}
    {#</div>#}
    <div class="laptop-menu-content-wrapper">
        <div class="laptop-menu-content-button">
            <button type="button" class="scroll-mobile-button head-laptop-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="menu-global-wrapper">
            <div class="menu-content-wrapper">
                <div class="footer-logo menu-logo"></div>
                <div class="menu-items-buttons">
                    <div data-url="{{ url("site_frontend_order_get_ajax_cart") }}" class="menu-basket-wrapper">
                        <div class="menu-basket-item-wrapper">
                            <span class="menu-basket-image-item"></span>
                            <span data-url="{{ url("site_frontend_order_get_items_number") }}" class="basket-number-wrapper">
                                {{ itemsNumber }}
                            </span>
                        </div>
                        <div class="basket-item-title">
                            корзина
                        </div>
                    </div>
                    <a href="{{ url('site_frontend_selected_list') }}" class="menu-items-button menu-selected-item">
                        избранное
                        <span data-type="selected" class="count-holder">{{ selected }}</span>
                    </a>
                    <a href="{{ url('site_frontend_comparing_show') }}" class="menu-items-button menu-comparing-item">
                        сравнение
                        <span data-type="comparing" class="count-holder">{{ comparing }}</span>
                    </a>
                </div>
            </div>
            <div class="menu-catalog-content-wrapper">
                <div class="menu-catalog-wrapper">
                    <div class="menu-catalog-title">
                        каталог
                    </div>
                    <div class="menu-catalog-items-wrapper">
                        <a href="{{ url('site_frontend_set_list') }}" class="menu-catalog-item">наборы</a>
                        {% for category in categories %}
                            <a href="{{ url('site_frontend_category',{'slug':category.slug}) }}" class="menu-catalog-item">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="laptop-menu-contacts-wrapper">
                <a href="{{ path('site_frontend_about_company') }}">о нас</a>
                <a href="{{ path('site_frontend_news_list') }}">новости</a>
                <a href="{{ path("site_frontend_about_delivery") }}">доставка</a>
                <a href="{{ path("site_frontend_about_payment") }}">оплата</a>
                <a href="{{ url('site_frontend_static_reviews') }}">отзывы</a>
                <a href="{{ path("site_frontend_contacts") }}">контакты</a>
            </div>
        </div>
    </div>
</div>