<h2>{{ title }}</h2>
<div class="col-lg-15">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
        <div class="index-product-preview-image">
            <div class="share-marker share-marker-hot"></div>
            {#<div class="share-marker share-marker-share"></div>#}
            {#<div class="share-marker share-marker-novel"></div>#}
            <div class="index-product-preview-outer-wrapper">
                <div class="index-product-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/product-sample.png") }}">
                </div>
            </div>
        </div>
        <div class="index-product-title">
            <span>Кольцо ножка младенца ножка младенца</span>
        </div>
        <div class="product-fetures-wrapper">
            <div class="index-product-price">
                <span class="index-product-old-price">
                    756 <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">656 <span class="smaller">грн</span></span>
                {#<span class="index-product-regular-price">656 <span class="smaller">грн</span></span>#}
            </div>
            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <button class="index-product-buy">
                    купить
                </button>
            </div>
            <div class="index-product-shortcut-wrapper">
                <div><strong>Металл:</strong> Серебро 925; </div>
                <div><strong>Средний вес, г:</strong> 2.4;</div>
                <div><strong>Тип вставки:</strong>Полудрагоценная;</div>
                <div class="product-state state_custom"><span>Под заказ</span></div>
                <div class="selected-button-wrapper">
                    <a class="selected-item">
                        <span>добавить</br> в избранное</span>
                    </a>
                    <a class="comparison-item">
                        <span>добавить</br> в сравнение</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-15">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
        <div class="index-product-preview-image">
            {#<div class="share-marker share-marker-hot"></div>#}
            <div class="share-marker share-marker-share"></div>
            {#<div class="share-marker share-marker-novel"></div>#}
            <div class="index-product-preview-outer-wrapper">
                <div class="index-product-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/product-sample.png") }}">
                </div>
            </div>
        </div>
        <div class="index-product-title">
            <span>Кольцо ножка младенца ножка младенца</span>
        </div>
        <div class="product-fetures-wrapper">
            <div class="index-product-price">
                <span class="index-product-old-price">
                    756 <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">656 <span class="smaller">грн</span></span>
                {#<span class="index-product-regular-price">656 <span class="smaller">грн</span></span>#}
            </div>
            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <button class="index-product-buy">
                    купить
                </button>
            </div>
            <div class="index-product-shortcut-wrapper">
                <div><strong>Металл:</strong> Серебро 925; </div>
                <div><strong>Средний вес, г:</strong> 2.4;</div>
                <div><strong>Тип вставки:</strong>Полудрагоценная;</div>
                <div class="product-state state_custom"><span>Под заказ</span></div>
                <div class="selected-button-wrapper">
                    <a class="selected-item">
                        <span>добавить</br> в избранное</span>
                    </a>
                    <a class="comparison-item">
                        <span>добавить</br> в сравнение</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-15">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
        <div class="index-product-preview-image">
            {#<div class="share-marker share-marker-hot"></div>#}
            {#<div class="share-marker share-marker-share"></div>#}
            <div class="share-marker share-marker-novel"></div>
            <div class="index-product-preview-outer-wrapper">
                <div class="index-product-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/product-sample.png") }}">
                </div>
            </div>
        </div>
        <div class="index-product-title">
            <span>Кольцо ножка младенца ножка младенца</span>
        </div>
        <div class="product-fetures-wrapper">
            <div class="index-product-price">
                <span class="index-product-old-price">
                    756 <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">656 <span class="smaller">грн</span></span>
                {#<span class="index-product-regular-price">656 <span class="smaller">грн</span></span>#}
            </div>
            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <button class="index-product-buy">
                    купить
                </button>
            </div>
            <div class="index-product-shortcut-wrapper">
                <div><strong>Металл:</strong> Серебро 925; </div>
                <div><strong>Средний вес, г:</strong> 2.4;</div>
                <div><strong>Тип вставки:</strong>Полудрагоценная;</div>
                <div class="product-state state_custom"><span>Под заказ</span></div>
                <div class="selected-button-wrapper">
                    <a class="selected-item">
                        <span>добавить</br> в избранное</span>
                    </a>
                    <a class="comparison-item">
                        <span>добавить</br> в сравнение</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-15">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
        <div class="index-product-preview-image">
            {#<div class="share-marker share-marker-hot"></div>#}
            {#<div class="share-marker share-marker-share"></div>#}
            {#<div class="share-marker share-marker-novel"></div>#}
            <div class="index-product-preview-outer-wrapper">
                <div class="index-product-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/product-sample.png") }}">
                </div>
            </div>
        </div>
        <div class="index-product-title">
            <span>Кольцо ножка младенца ножка младенца</span>
        </div>
        <div class="product-fetures-wrapper">
            <div class="index-product-price">
                <span class="index-product-old-price">
                    756 <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">656 <span class="smaller">грн</span></span>
                {#<span class="index-product-regular-price">656 <span class="smaller">грн</span></span>#}
            </div>
            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <button class="index-product-buy">
                    купить
                </button>
            </div>
            <div class="index-product-shortcut-wrapper">
                <div><strong>Металл:</strong> Серебро 925; </div>
                <div><strong>Средний вес, г:</strong> 2.4;</div>
                <div><strong>Тип вставки:</strong>Полудрагоценная;</div>
                <div class="product-state state_custom"><span>Под заказ</span></div>
                <div class="selected-button-wrapper">
                    <a class="selected-item">
                        <span>добавить</br> в избранное</span>
                    </a>
                    <a class="comparison-item">
                        <span>добавить</br> в сравнение</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-15">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
        <div class="index-product-preview-image">
            {#<div class="share-marker share-marker-hot"></div>#}
            {#<div class="share-marker share-marker-share"></div>#}
            {#<div class="share-marker share-marker-novel"></div>#}
            <div class="index-product-preview-outer-wrapper">
                <div class="index-product-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/product-sample.png") }}">
                </div>
            </div>
        </div>
        <div class="index-product-title">
            <span>Кольцо ножка младенца ножка младенца</span>
        </div>
        <div class="product-fetures-wrapper">
            <div class="index-product-price">
                <span class="index-product-old-price">
                    756 <span class="smaller">грн</span>
                </span>
                <span class="index-product-new-price">656 <span class="smaller">грн</span></span>
                {#<span class="index-product-regular-price">656 <span class="smaller">грн</span></span>#}
            </div>
            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <button class="index-product-buy">
                    купить
                </button>
            </div>
            <div class="index-product-shortcut-wrapper">
                <div><strong>Металл:</strong> Серебро 925; </div>
                <div><strong>Средний вес, г:</strong> 2.4;</div>
                <div><strong>Тип вставки:</strong>Полудрагоценная;</div>
                <div class="product-state state_custom"><span>Под заказ</span></div>
                <div class="selected-button-wrapper">
                    <a class="selected-item">
                        <span>добавить</br> в избранное</span>
                    </a>
                    <a class="comparison-item">
                        <span>добавить</br> в сравнение</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>