<h2>{{ title }}</h2>
<div class="large columns col-md-12">
    <div class="loop owl-carousel owl-theme" >
{% for item in products %}
    {% if item.shortClassName == "Product" %}



                <div class="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
                        <div class="index-product-preview-image">
                            {% if type == "novels" %}
                                <div class="share-marker share-marker-novel"></div>
                            {% elseif type == "hits" %}
                                <div class="share-marker share-marker-hot"></div>
                            {% endif %}
                            {#<div class="share-marker share-marker-hot"></div>#}
                            {#<div class="share-marker share-marker-share"></div>#}
                            {#<div class="share-marker share-marker-novel"></div>#}
                            <div class="index-product-preview-outer-wrapper">
                                <div class="index-product-preview-inner-wrapper">
                                    <a href="{{ path('site_frontend_product_show',{'slug':item.slug}) }}">
                                        <img alt="{{ item.title }}. Фото." src="{{ (item.poster)?item.poster|json_decode.small:asset("bundles/sitefrontend/images/main/no-image.png") }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="index-product-title">
                            <span>{{ item.title }}</span>
                        </div>
                        <div class="product-fetures-wrapper">
                            <div class="index-product-price">
                                {% if item.sharePrice %}
                                    <span class="index-product-old-price">
                                {{ item.price }} <span class="smaller">грн</span>
                            </span>
                                    <span class="index-product-new-price">
                                {{ item.sharePrice }} <span class="smaller">грн</span>
                            </span>
                                {% else %}
                                    <span class="index-product-regular-price">
                                {{ item.price }} <span class="smaller">грн</span>
                            </span>
                                {% endif %}
                            </div>
                            <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <button data-url="{{ url('site_frontend_order_add_product',{"slug":item.slug}) }}" class="index-product-buy">
                                    купить
                                </button>
                            </div>
                            <div class="index-product-shortcut-wrapper">
                                <div><strong>Металл:</strong>  {{ item.metal }};</div>
                                <div><strong>Средний вес, г:</strong>  {{ item.weight }};</div>
                                <div><strong>Тип вставки:</strong>  {{ (item.insertionType)?item.insertionType:"Без вставки" }};</div>
                                <div class="product-state {{ item.state|product_state }}"><span>{{ item.state }}</span></div>
                                <div class="selected-button-wrapper">
                            <span data-url="{{ url("site_frontend_selected_add_product",{'slug':item.slug}) }}" class="selected-item">
                                <span>добавить<br> в избранное</span>
                            </span>
                                    <span data-url="{{ url("site_frontend_comparing_add_product",{'slug':item.slug}) }}" class="comparison-item">
                                <span>добавить<br> в сравнение</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>










    {% else %}
        <div class="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding index-product-item">
                <div class="index-product-preview-image">
                    {% if type == "novels" %}
                        <div class="share-marker share-marker-novel"></div>
                    {% elseif type == "hits" %}
                        <div class="share-marker share-marker-hot"></div>
                    {% endif %}
                    <div class="index-product-preview-outer-wrapper">
                        <div class="index-product-preview-inner-wrapper">
                            <a href="{{ path('site_frontend_set_show',{'slug':item.slug}) }}">
                                <img alt="{{ item.title }}. Фото" src="{{ (item.poster)?item.poster|json_decode.small:asset("bundles/sitefrontend/images/main/no-image.png") }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="index-product-title">
                    <span>{{ item.title }}</span>
                </div>
                <div class="product-fetures-wrapper">
                    <div class="index-product-price">
                        {#<span class="index-product-old-price">#}
                        {#756 <span class="smaller">грн</span>#}
                        {#</span>#}
                        {#<span class="index-product-new-price">656 <span class="smaller">грн</span></span>#}
                        <span class="index-product-regular-price">{{ item.filterPrice }} <span class="smaller">грн</span></span>
                    </div>
                    <div class="index-product-controls col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <button data-url="{{ url('site_frontend_order_add_set',{"slug":item.slug}) }}" class="index-product-buy">
                            купить
                        </button>
                    </div>
                    <div class="index-product-shortcut-wrapper">
                        <div><strong>Металл:</strong> {{ item.metal }}; </div>
                        <div><strong>Тип вставки:</strong>{{ (item.insertionType)?item.insertionType:"Без вставки" }};</div>
                        <div class="set-list-properties-components-wrapper">
                            <div class="set-list-properties-components-title">Состав набора:</div>
                            <div class="set-list-properties-components">
                                {% if item.products|length %}
                                    {% for product in item.products %}
                                        <div>
                                            {{ product.title }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-state {{ item.state|product_state }}"><span>{{ item.state }}</span></div>
                        <div class="selected-button-wrapper">
                            <span data-url="{{ url("site_frontend_selected_add_set",{'slug':item.slug}) }}" class="selected-item">
                                <span>добавить<br> в избранное</span>
                            </span>
                            <span data-url="{{ url("site_frontend_comparing_add_set",{'slug':item.slug}) }}" class="comparison-item">
                                <span>добавить<br> в сравнение</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
    </div>
    </div>
<script>
    jQuery(document).ready(function ($) {
        $('.loop').owlCarousel({
            autoplay: true,
            slideSpeed: 2000,
            items: 5,
            autoWidth: true,
            loop: true,
            margin: 50,
            dots: false
        });

    });
</script>