<h2>Новости</h2>
<div class="index-news-item-outer-wrapper">
    {% for article in news %}
        <div class="col-lg-3 col-md-3 col-sm-3 news-item-wrapper no-padding">
            <div class="news-preview-image">
                <div class="news-preview-outer-wrapper">
                    <div class="news-preview-inner-wrapper">
                        <img src="{{ (article.poster)?article.poster|json_decode.small:asset("bundles/sitefrontend/images/main/no-image.png") }}">
                    </div>
                </div>
            </div>
            <div class="news-image-subscription">{{ article.createdAt|date('d.m.Y') }}</div>
            <h3>
                <span class="news-item-title">{{ article.title }}</span>
            </h3>
            <div class="news-item-shortcut">
                {{ article.shortcut|raw }}
            </div>
            <div class="news-item-more-link">
                <a href="{{ path('site_frontend_news_show',{'slug':article.slug}) }}">
                    Ознакомится с новостью
                </a>
            </div>
        </div>
    {% endfor %}
</div>