{% if pageCount > 1 %}
    <ul>
        {% if previous is defined %}
            <li class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fa  fa-caret-left"></i>
                </a>
            </li>
        {% else %}
            <li class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    <i class="fa  fa-caret-left"></i>
                </a>
            </li>
        {% endif %}
        {#{% if first is defined and current != first and first not in pagesInRange %}#}
        {% if first is defined and current != first %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">{{ first }}</a>
            </li>
            {#<li>#}
                {#<a class="dot" href="javascript:void(0)">...</a>#}
            {#</li>#}
        {% endif %}

        {#{% for page in pagesInRange %}#}
            {#{% if page != current %}#}
                {#<li>#}
                    {#<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>#}
                {#</li>#}
            {#{% else %}#}
                {#<li class="active"><a href="javascript:void(0)">{{ page }}</a></li>#}
            {#{% endif %}#}

        {#{% endfor %}#}
        <li class="active"><a href="javascript:void(0)">{{ current }}</a></li>
        {#{% if last is defined and current != last and last not in pagesInRange %}#}
        {% if last is defined and current != last %}
            {#<li class="dot">#}
                {#<a href="javascript:void(0)">...</a>#}
            {#</li>#}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ last }}</a>
            </li>
        {% endif %}
        {% if next is defined %}
            <li class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fa fa-caret-right"></i>
                </a>
            </li>
        {% else %}
            <li class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                    <i class="fa  fa-caret-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}