<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="{{ asset("bundles/sitefrontend/images/gray-crystal.png") }}" type="image/x-icon">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105577500-1', 'auto');
        ga('send', 'pageview');

    </script>

    {% block seo %}
    <title>Uvelife</title>
    <meta name="description" content="">
{% endblock seo %}

    {% stylesheets
    output='css/uvelife_com.css'
    filter='cssrewrite, yui_css'
    'bundles/sitefrontend/css/bootstrap.min.css'
    'bundles/sitefrontend/css/ie10-viewport-bug-workaround.css'
    'bundles/sitefrontend/css/font-awesome.css'
    'bundles/sitefrontend/css/jquery.bxslider.css'
    'bundles/sitefrontend/css/jquery-ui.min.css'
    'bundles/sitefrontend/css/bootstrap-select.css'
    'bundles/sitefrontend/css/perfect-scrollbar.min.css'
    'bundles/sitefrontend/css/lightbox.css'
    'bundles/sitefrontend/css/star-rating-svg.css'
    'bundles/sitefrontend/css/style.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}

    <!-- Bootstrap core CSS -->
    {#<link href="{{ asset("bundles/sitefrontend/css/bootstrap.min.css") }}" rel="stylesheet">#}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {#<link href="{{ asset("bundles/sitefrontend/css/ie10-viewport-bug-workaround.css") }}" rel="stylesheet">#}

    {#<link href="{{ asset("bundles/sitefrontend/css/font-awesome.css") }}" rel="stylesheet">#}
    {#<link href="{{ asset("bundles/sitefrontend/css/jquery.bxslider.css") }}" rel="stylesheet">#}

    {#<link href="{{ asset("bundles/sitefrontend/css/jquery-ui.min.css") }}" rel="stylesheet">#}
    {#<link href="{{ asset("bundles/sitefrontend/css/bootstrap-select.css") }}" rel="stylesheet">#}
    {#<link href="{{ asset("bundles/sitefrontend/css/perfect-scrollbar.min.css") }}" rel="stylesheet">#}


    {#<link href="{{ asset("bundles/sitefrontend/css/lightbox.css") }}" rel="stylesheet">#}
    {#<link href="{{ asset("bundles/sitefrontend/css/star-rating-svg.css") }}" rel="stylesheet">#}
    {#<link href="{{ asset("bundles/sitefrontend/css/style.css") }}" rel="stylesheet">#}

    {#<script src="{{ asset("bundles/sitefrontend/js/ie-emulation-modes-warning.js") }}"></script>#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    {#<script src="{{ asset("bundles/sitefrontend/js/html5shiv.min.js") }}"></script>#}
    {#<script src="{{ asset("bundles/sitefrontend/js/respond.min.js") }}"></script>#}
    <script src="{{ asset("bundles/sitefrontend/js/jquery.min.js") }}"></script>
    <script src="{{ asset("bundles/sitefrontend/js/jquery.bxslider.js") }}"></script>
<script src="{{ asset("bundles/sitefrontend/js/jquery-ui.min.js") }}"></script>
{#<script src="{{ asset("bundles/sitefrontend/js/lightbox.min.js") }}"></script>#}
</head>

<body>
<nav class="navbar navbar-default header-navbar-wrapper">
    {% block header %}
        {{ render(controller('SiteFrontendBundle:Default:headerMenu')) }}
    {% endblock header %}
</nav>
<section class="content-section">
    <section class="main-top-slider-section">
        {% block topSlider %}
        {% endblock topSlider %}
    </section>
    <section class="content-wrapper-section">
        {% block content %}
        {% endblock content %}
    </section>
</section>
<footer class="footer">
    {{ render(controller('SiteFrontendBundle:Default:footer')) }}
</footer>
<div class="modal-no-background"></div>
<div class="modal-with-background"></div>
{% block globalCart %}
    {% include "SiteFrontendBundle:Parts:_global_cart.html.twig" %}
{% endblock globalCart %}
{{ render(controller('SiteFrontendBundle:Default:getCallbackForm')) }}
<div class="modal-message-wrapper">
    <div class="text-right">
        <button class="close-modal-button">x</button>
    </div>
    <div class="modal-body">
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}
    {% javascripts
    output='js/uvelife_com.js'
    filter='yui_js'
    'bundles/sitefrontend/js/html5shiv.min.js'
    'bundles/sitefrontend/js/respond.min.js'
    'bundles/sitefrontend/js/ie-emulation-modes-warning.js'
    'bundles/sitefrontend/js/lightbox.min.js'
    'bundles/sitefrontend/js/bootstrap.min.js'
    'bundles/sitefrontend/js/ie10-viewport-bug-workaround.js'
    'bundles/sitefrontend/js/bootstrap-select.min.js'
    'bundles/sitefrontend/js/perfect-scrollbar.min.js'
    'bundles/sitefrontend/js/masonry.min.js'
    'bundles/sitefrontend/js/jquery.infinitescroll.min.js'
    'bundles/sitefrontend/js/jquery.validate.js'
    'bundles/sitefrontend/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#<script src="{{ asset("bundles/sitefrontend/js/jquery-ui.min.js") }}"></script>#}
    {#<script src="{{ asset("bundles/sitefrontend/js/lightbox.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/jquery.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/bootstrap.min.js") }}"></script>#}
{#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#<script src="{{ asset("bundles/sitefrontend/js/ie10-viewport-bug-workaround.js") }}"></script>#}

{#<script src="{{ asset("bundles/sitefrontend/js/bootstrap-select.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/perfect-scrollbar.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/masonry.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/jquery.infinitescroll.min.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/jquery.validate.js") }}"></script>#}
{#<script src="{{ asset("bundles/sitefrontend/js/main.js") }}"></script>#}
{% endblock javascripts %}
</body>
</html>
