var jcrop_{{ id }};
$(".delete-button").remove();
{% if crop_width|length and crop_height|length %}
    $('#{{ id }}').Jcrop({
        bgColor:     'transparent',
        bgFade:     true,
        bgOpacity:   .4,
        allowSelect: false,
        allowMove: true,
        allowResize: true,
        setSelect:   [ 0, 0, {{ crop_width }}, {{ crop_height }} ],
        aspectRatio: {{ crop_width }} /{{ crop_height }}
    },function(){
        jcrop_{{ id }}=this;
    });
{% else %}
    var api;
    $('{{ "#"~id }}').Jcrop({
    // start off with jcrop-light class
    bgOpacity: 0.5,
    bgColor: 'white',
    addClass: 'jcrop-light'
    },function(){
    api = this;
    api.setOptions({ bgFade: true });
    api.ui.selection.addClass('jcrop-selection');
    jcrop_{{ id }}=api;
    });
{% endif %}
$('{{ container }}').append("<a data-url='{{ url('site_upload_bundle_crop_file') }}' style='margin-left:10px;' class='btn btn-info  cropButton' href='javascript:void(0)' id='crop_{{ id }}'><i class='fa fa-crop' aria-hidden='true'></i>Crop</a>");
$("#crop_{{ id }}").click(function(){
    var object= jcrop_{{ id }}.tellSelect();
    var url=$(this).attr('data-url');
    object.path=$({{ id }}).attr('src');
    object.type="{{ type }}";
    object.field = "{{ name }}"
{# post #}
$.post(url,object,function(res){
    if(res.success){
        jcrop_{{ id }}.destroy();
        $('#{{ id }}').remove();
        $("#crop_{{ id }}").remove();
        crop_{{ callback }}(res);
{#make send button visible#}
    }
    else{
    console.log(res);
    }
    {% set crop = false  %}
});
});