{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block content %}
    <div class="container article-list-content no-padding">
        <div class="breadcrumbs">
            {% if breadcrumbs|length>0 %}
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <span class="breadcrumb-last">{{ breadcrumb.title }}</span>
                    {% else %}
                        <a class="breadcrumbs-item" href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="news-list-title-wrapper">
            <h1>
                {{ seo.h1 }}
            </h1>
        </div>
        <div class="news-list-content-wrapper">
            {% for article in news %}
                <div class="list-article-item">
                <div class="list-article-preview-image">
                    <div class="list-article-preview-outer-wrapper">
                        <div class="index-product-preview-inner-wrapper">
                            <a href="{{ path('site_frontend_news_show',{'slug':article.slug}) }}">
                                <img alt="{{ article.title }}. Фото" src="{{ (article.poster)?article.poster|json_decode.big:asset("bundles/sitefrontend/images/main/no-image.png") }}">
                            </a>
                        </div>
                    </div>
                    {% if article.newsTags|length %}
                        <a class="list-article-tag" href="{{ url('site_frontend_news_tag_list',{
                            'slug':article.newsTags|first.slug
                        }) }}">#{{ article.newsTags|first.title }}</a>
                    {% endif %}
                </div>
                <div class="list-article-title-wrapper">
                    <div class="list-article-date">{{ article.createdAt|date('d.m.Y') }}</div>
                    <div class="list-article-title">
                        <a href="{{ path('site_frontend_news_show',{'slug':article.slug}) }}">
                        {{ article.title }}
                        </a>
                    </div>
                </div>
                <div class="list-article-text-wrapper">
                    {{ article.shortcut|raw }}
                </div>
            </div>
            {% endfor %}
            <nav id="pagination">
                <p><a href="{{ url('site_frontend_news_list_jscroll_page',{'page':2}) }}">Page 2</a></p>
            </nav>
        </div>
    </div>
{% endblock %}
{% block seo %}
    <title>{{ seo.title }}</title>
    {% if seo.description %}
        <meta name="description" content="{{ seo.description }}">
    {% endif %}
    {% if seo.keywords %}
        <meta name="keywords" content="{{ seo.keywords }}">
    {% endif %}
{% endblock seo %}